extends layout

block content
		ui.one.column.stackable.center.aligned.page.grid.margin-30
		.column.twelve.wide
			.ui.stacked.segment.gameArea
				.circle.blue(style='left:150px; top:100px')
					.relative
						span.name Fırat
						.message Selam
				.circle.green(style='left:300px; top:100px')
					.relative
						span.name Engin
						.message selam nasılsın :)
				.circle.red(style='left:350px; top:300px')
					.relative
						span.name Mary
						.message this is awesome
			.ui.items.chat
				.item
					.content
						a.header.name Fırat
						.description.message
							| Selam
				.item
					.content
						a.header.name Engin
						.description.message
							| selam nasılsın :)
				.item
					.content
						a.header.name Mary
						.description.message
							| this is awesome
				.item
					.content
						a.header.name HasanK
						.description.message
							| hey
			.ui.action.input.fluid
				input(type='text' placeholder='Type here...')
				button.ui.button Send

